terraform/modules/app/system-workflows-stepfunctions/asl/evaluation-runs-standard.asl.json
{
  "Comment": "thinkwork-system-workflow:evaluation-runs:2026-05-02.v1",
  "StartAt": "SnapshotTestPack",
  "States": {
    "SnapshotTestPack": {
      "Type": "Pass",
      "Comment": "standard:checkpoint:Snapshot test pack",
      "Parameters": {
        "runId.$": "$.evalRunId",
        "tenantId.$": "$.tenantId",
        "systemWorkflowRunId.$": "$.workflowRunId",
        "systemWorkflowExecutionArn.$": "$$.Execution.Id",
        "domainRef.$": "$.domainRef",
        "input.$": "$.input"
      },
      "Next": "RunEvaluation"
    },
    "RunEvaluation": {
      "Type": "Task",
      "Comment": "standard:worker:Run evaluation via eval-runner",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${eval_runner_lambda_arn}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "ApplyPassFailGate"
    },
    "ApplyPassFailGate": {
      "Type": "Choice",
      "Comment": "standard:gate:Apply pass/fail gate",
      "Choices": [
        {
          "Variable": "$.passedThreshold",
          "BooleanEquals": true,
          "Next": "EvaluationSucceeded"
        }
      ],
      "Default": "EvaluationFailed"
    },
    "EvaluationSucceeded": {
      "Type": "Succeed"
    },
    "EvaluationFailed": {
      "Type": "Fail",
      "Error": "EvaluationThresholdFailed",
      "Cause": "Evaluation pass-rate gate did not pass."
    }
  }
}
