terraform/modules/app/system-workflows-stepfunctions/asl/tenant-agent-activation-standard.asl.json
{
  "Comment": "thinkwork-system-workflow:tenant-agent-activation:2026-05-02.v1",
  "StartAt": "TrackReadiness",
  "States": {
    "TrackReadiness": {
      "Type": "Pass",
      "Comment": "standard:checkpoint:Track activation readiness",
      "Parameters": {
        "activationSessionId.$": "$.input.activationSessionId",
        "tenantId.$": "$.tenantId",
        "userId.$": "$.input.userId",
        "mode.$": "$.input.mode",
        "focusLayer.$": "$.input.focusLayer",
        "currentLayer.$": "$.input.currentLayer",
        "systemWorkflowRunId.$": "$.workflowRunId",
        "systemWorkflowExecutionArn.$": "$$.Execution.Id",
        "domainRef.$": "$.domainRef"
      },
      "Next": "RunPolicyChecks"
    },
    "RunPolicyChecks": {
      "Type": "Pass",
      "Comment": "standard:validation:Run activation policy checks",
      "Parameters": {
        "activationSessionId.$": "$.activationSessionId",
        "tenantId.$": "$.tenantId",
        "userId.$": "$.userId",
        "mode.$": "$.mode",
        "focusLayer.$": "$.focusLayer",
        "currentLayer.$": "$.currentLayer",
        "systemWorkflowRunId.$": "$.systemWorkflowRunId",
        "systemWorkflowExecutionArn.$": "$.systemWorkflowExecutionArn",
        "domainRef.$": "$.domainRef",
        "policy": {
          "securityAttestationRequired": true,
          "launchApprovalRole": "admin"
        }
      },
      "Next": "ApplyActivationBundle"
    },
    "ApplyActivationBundle": {
      "Type": "Task",
      "Comment": "standard:worker:Record activation workflow evidence",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${activation_workflow_adapter_lambda_arn}",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "RecordLaunchDecision"
    },
    "RecordLaunchDecision": {
      "Type": "Choice",
      "Comment": "standard:evidence:Record launch decision",
      "Choices": [
        {
          "Variable": "$.ok",
          "BooleanEquals": true,
          "Next": "ActivationWorkflowSucceeded"
        }
      ],
      "Default": "ActivationWorkflowFailed"
    },
    "ActivationWorkflowSucceeded": {
      "Type": "Succeed"
    },
    "ActivationWorkflowFailed": {
      "Type": "Fail",
      "Error": "ActivationWorkflowFailed",
      "Cause": "Tenant/Agent Activation workflow adapter did not pass."
    }
  }
}
